<h1> Productos en vivo</h1>

<div id="productsRealTime"></div>


<h2>Formualrio agregado de productos</h2>

<form action="" id="productsForm">

            <label for="title">Título:</label>
            <input type="text" id="title" name="title">
        </div>

        <di>
            <label for="description">Descripción:</label>
            <input type="text" id="description" name="description">
        </div>

        <div>
            <label for="price">Precio:</label>
            <input type="number" id="price" name="price">
        </div>

        <div>
            <input type="submit" value="Enviar">
        </div>

</form>


<!-- Link Socket -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>


<!-- Link JS -->
<script src="js/main.js"></script>