<h1> Productos en vivo</h1>

<div class="productsRealTime">

</div>





<!-- Link Socket -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>


<!-- Link JS -->
<script src="js/main.js"></script>